In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in climate data csv
climate_data_raw = "Climate_Data.csv"

climate_df = pd.read_csv(climate_data_raw)
climate_df.head()

,STATION,DATE,LATITUDE,LONGITUDE,AIR_TEMP,IND_FOR_PRECIP,IND_FOR_TEMP,SEA_SURF_TEMP
0,WHDV,2009-03-25T00:00:00,34.5,-122.3,52.7,4.0,0.0,NaN
1,WHDV,2009-04-11T18:00:00,37.7,-123.6,NaN,4.0,0.0,NaN
2,WHDV,2009-04-14T18:00:00,37.5,-123.8,NaN,4.0,0.0,NaN
3,WHDV,2009-04-15T12:00:00,34.3,-121.8,48.9,4.0,0.0,NaN
4,WHDV,2009-04-15T18:00:00,33.5,-120.8,NaN,4.0,0.0,NaN

In [4]:
# Chaning the column names
climate_df = climate_df.rename(columns={"STATION":"Station",
                                        "DATE":"Date",
                                        "LATITUDE": "Lat",
                                        "LONGITUDE": "Lon",
                                        "AIR_TEMP": "Air_temp",
                                        "IND_FOR_PRECIP": "Prcp",
                                        "IND_FOR_TEMP": "Temp",
                                        "SEA_SURF_TEMP": "Sea_Temp"})
climate_df.head(10)

  Station                 Date   Lat    Lon  Air_temp  Prcp  Temp  Sea_Temp
0    WHDV  2009-03-25T00:00:00  34.5 -122.3      52.7   4.0   0.0       NaN
1    WHDV  2009-04-11T18:00:00  37.7 -123.6       NaN   4.0   0.0       NaN
2    WHDV  2009-04-14T18:00:00  37.5 -123.8       NaN   4.0   0.0       NaN
3    WHDV  2009-04-15T12:00:00  34.3 -121.8      48.9   4.0   0.0       NaN
4    WHDV  2009-04-15T18:00:00  33.5 -120.8       NaN   4.0   0.0       NaN
5    WHDV  2009-04-19T00:00:00  33.6 -120.3      53.6   4.0   0.0       NaN
6    WHDV  2009-04-19T12:00:00  35.6 -122.7      54.9   4.0   0.0       NaN
7    WHDV  2009-04-20T00:00:00  37.3 -123.3      62.6   4.0   0.0       NaN
8    WHDV  2009-04-03T18:00:00  33.6 -118.1      56.8   4.0   0.0       NaN
9    WHDV  2009-04-04T18:00:00  33.6 -119.3      57.9   4.0   0.0       NaN

In [5]:
climate_df.dtypes

Station      object
Date         object
Lat         float64
Lon         float64
Air_temp    float64
Prcp        float64
Temp        float64
Sea_Temp    float64
dtype: object

In [7]:
# fill null values
climate_df_clean = climate_df.fillna(value=0)
climate_df_clean.head(10)

  Station                 Date   Lat    Lon  Air_temp  Prcp  Temp  Sea_Temp
0    WHDV  2009-03-25T00:00:00  34.5 -122.3      52.7   4.0   0.0       0.0
1    WHDV  2009-04-11T18:00:00  37.7 -123.6       0.0   4.0   0.0       0.0
2    WHDV  2009-04-14T18:00:00  37.5 -123.8       0.0   4.0   0.0       0.0
3    WHDV  2009-04-15T12:00:00  34.3 -121.8      48.9   4.0   0.0       0.0
4    WHDV  2009-04-15T18:00:00  33.5 -120.8       0.0   4.0   0.0       0.0
5    WHDV  2009-04-19T00:00:00  33.6 -120.3      53.6   4.0   0.0       0.0
6    WHDV  2009-04-19T12:00:00  35.6 -122.7      54.9   4.0   0.0       0.0
7    WHDV  2009-04-20T00:00:00  37.3 -123.3      62.6   4.0   0.0       0.0
8    WHDV  2009-04-03T18:00:00  33.6 -118.1      56.8   4.0   0.0       0.0
9    WHDV  2009-04-04T18:00:00  33.6 -119.3      57.9   4.0   0.0       0.0

In [8]:
climate_df_clean.count()

Station     73759
Date        73759
Lat         73759
Lon         73759
Air_temp    73759
Prcp        73759
Temp        73759
Sea_Temp    73759
dtype: int64

In [9]:
climate_date = climate_df_clean.sort_values("Date")
climate_date

,Station,Date,Lat,Lon,Air_temp,Prcp,Temp,Sea_Temp
63395,WSNB,1980-08-04T18:00:00,34.5,-121.0,60.1,0.0,0.0,54.0
25690,WSRH,1980-09-28T12:00:00,32.5,-123.6,63.0,0.0,0.0,66.9
25691,WSRH,1980-10-12T06:00:00,32.5,-123.6,63.0,0.0,0.0,68.0
25692,WSRH,1980-10-12T12:00:00,31.8,-121.2,62.1,0.0,0.0,66.0
25693,WSRH,1980-10-16T12:00:00,32.5,-123.3,60.1,0.0,0.0,63.0
...,...,...,...,...,...,...,...,...
66722,WDB9918,2023-06-30T19:00:00,33.7,-118.2,73.9,0.0,8.0,0.0
66723,WDB9918,2023-06-30T20:00:00,33.7,-118.2,72.1,0.0,8.0,0.0
66724,WDB9918,2023-06-30T21:00:00,33.7,-118.2,71.2,0.0,8.0,0.0
66725,WDB9918,2023-06-30T22:00:00,33.7,-118.2,77.0,4.0,0.0,0.0
66726,WDB9918,2023-06-30T23:00:00,33.7,-118.2,0.0,4.0,0.0,0.0

In [11]:
climate_date = climate_date.copy()
climate_date = climate_date.astype({"Date":"datetime64"})
climate_date

,Station,Date,Lat,Lon,Air_temp,Prcp,Temp,Sea_Temp
63395,WSNB,1980-08-04 18:00:00,34.5,-121.0,60.1,0.0,0.0,54.0
25690,WSRH,1980-09-28 12:00:00,32.5,-123.6,63.0,0.0,0.0,66.9
25691,WSRH,1980-10-12 06:00:00,32.5,-123.6,63.0,0.0,0.0,68.0
25692,WSRH,1980-10-12 12:00:00,31.8,-121.2,62.1,0.0,0.0,66.0
25693,WSRH,1980-10-16 12:00:00,32.5,-123.3,60.1,0.0,0.0,63.0
...,...,...,...,...,...,...,...,...
66722,WDB9918,2023-06-30 19:00:00,33.7,-118.2,73.9,0.0,8.0,0.0
66723,WDB9918,2023-06-30 20:00:00,33.7,-118.2,72.1,0.0,8.0,0.0
66724,WDB9918,2023-06-30 21:00:00,33.7,-118.2,71.2,0.0,8.0,0.0
66725,WDB9918,2023-06-30 22:00:00,33.7,-118.2,77.0,4.0,0.0,0.0
66726,WDB9918,2023-06-30 23:00:00,33.7,-118.2,0.0,4.0,0.0,0.0